body {
	background-color: #fff;
	margin: 0;
	padding-top: 50px;
	color: #4f4f4f;
}
.hr-center-text {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #eee; 
	line-height: 0.1em;
	margin: 20px 0;
}
.hr-center-text>span {
	background:#fff; 
	padding: 0 10px;
}
.i-left {
	margin-right: 5px;
}
.i-right {
	margin-left: 5px;
}
.content--pannel {
	background-color: #fff;
	padding: 15px;
	margin: 0;
	border: 1px solid rgb(0 0 0 / 9%);
	border-radius: 3px;
}
.aligncenter {
	text-align: center;
	margin: 0 auto;
}
.valign-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.valign-child {
  width: auto;
  height: auto;
}
.hero-title {
	font-size: 7em;
	margin-top: 0;
}
#main-search-form input, #main-search-form button, #main-search-form .input-group-addon {
	height: 50px;
	font-size: 18px;
	padding: 6px 20px;
}
#main-search-form input, #main-search-form .input-group-addon {
	font-weight: bold;
	border-color: #a2a2a2;
}
#main-search-form .input-group-addon {
	background-color: #f3f3f3;
}
#main-search-form button {
	color: #fff;
	background-color: #f1b906;
	border-color: #f1b906;
}
#main-search-form button:hover {
	background-color: #dcaa08;
	border-color: #dcaa08;
}
.theme-color {
	color: #f1b906 !important;
}
.container>.row {
	margin-bottom: 15px;
}
.container>.row:last-child, .panel:last-child {
	margin-bottom: 0;
}
.content--daily-blends .panel-bg {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding: 40% 0 !important;
}
ul.li-capsule, ul.inline-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.li-capsule>li {
	background-color: #eee;
	color: #444;
	display: inline-block;
	padding: 3px 11px;
	border-radius: 100px;
	margin-bottom: 3px;
}
ul.li-capsule.theme-bg>li {
	background-color: #f1b906;
	color: #fff;
}
ul.inline-list>li {
	display: inline-block;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #cecece;
}
label {
	color: #888;
}
#sign-up-form input {
	font-weight: normal;
}
ul:last-child {
	margin-bottom: 0;
}
ul.spaced-list {
	align-items: stretch;
	display: flex;
	padding: 0;
	width: 100%;
}
ul.spaced-list>li {
	display: block;
	flex: 0 1 auto;
	list-style-type: none;
}
ul.spaced-list.between {
	justify-content: space-between;
}
ul.spaced-list.around {
	justify-content: space-around;
}
#panel-activities>li:hover {
	cursor: pointer;
}
#panel-activities>li>i {
	transition: .3s all ease-in-out;
	color: #aaa;
}
#panel-activities>li:hover i, #panel-activities>li>i.active {
	color: #dcaa08 !important;
}
.tab-content {
	padding: 15px 0;
}
.popover-title {
	font-weight: bold;
}
@media screen and (max-width: 991px) {
	.hero-title {
		font-size: 4em;
	}
}
@media screen and (max-width: 767px) {
	body {
		margin: 0;
	}
	.hero-title {
		font-size: 2.7em;
	}
	.content--daily-blends .panel-body, .content--daily-blends .panel-footer {
		padding: 5px;
	}
	.content--daily-blends .panel-body--blend-title {
		font-size: 16px;
	}
	.content--daily-blends .panel-body--header, .content--daily-blends .panel-body--subheader, .content--daily-blends .panel-footer {
		white-space: nowrap;
		overflow-x: scroll;
	}
}

.zero-gap {
	padding: 0;
	margin: 0;
}

.error {
	border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
    margin-bottom: 2px;
}
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}
@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
}
@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
}
.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow 0.75s linear infinite;
    animation: spinner-grow 0.75s linear infinite;
}
.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}