.content--search {
	background-color: #eee;
}
.content--search>.container {
	background-image: url(/assets/images/landing-top-bg.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 50px;
	padding-bottom: 50px;
}

.slogan-box {
	margin-bottom: 30px;
}
#main-search-form {
	margin-bottom: 15px;
}
#advanced-search {
	border: 0 none;
}
.content--daily-blends {
	background-color: #fff;
	height: auto;
	padding: 50px 0;
}
@media screen and (max-width: 767px) {
	.content--search>.container {
		background-image: url(/assets/images/landing-top-bg-blur.png);
		background-position: center center;
		background-size: cover;
	}
	#content--top .content--search .slogan-box {
		text-align: center;
		margin-bottom: 20px;
	}
	#content--top .content--search .slogan-box h2 {
		font-size: 20px;
		margin-top: 10px;
	}
	#main-search-form input, #main-search-form button, #main-search-form .input-group-addon {
		height: 34px;
	    font-size: 14px;
	    padding: 6px 12px;
	}
	.content--daily-blends {
		padding: 30px 0;	
	}

}