.navbar {
	margin-bottom: 0;
}
.navbar-default {
	background-color: #fff;
	border-bottom: 0 none;
}
.landing .navbar-default, .single-page .navbar-default {
	background-color: #eee;
	border: 0 none;
	border-radius: 0;
}
.navbar-form {
	margin-bottom: 15px;
}
.navbar-form .form-group {
	display: block;
	margin-bottom: 10px;
}
.navbar-form .form-group:last-child {
	margin-bottom: 0;
}
.navbar-panel {
	padding: 0 15px;
}
.navbar-default .navbar-brand {
	color: #f1b906;
}
@media screen and (max-width: 767px) {
	#navbar-section {
		padding: 0;
	}
	.navbar {
		border: 0 none;
		border-bottom: 1px solid #e7e7e7;
	}
	.navbar-form {
		margin: 0;
		padding-bottom: 0;
		border-bottom: 0 none;
	}
	.navbar-toggle {
		background-color: transparent !important;
		border-color: transparent !important;
		margin-right: 5px;
	}
	.navbar-default .navbar-collapse {
		background-color: #fff;
		box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.15);
	}
}