.single-page .navbar-default {
	background-color: #fff;
}
.content--single-page {
	padding: 50px 0;
}
.single-page .content--daily-blends {
	background-color: #eee;
	padding: 50px 0;
}
.blend-list-parent {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.blend-list--ul {
	padding: 10px 20px !important;
	clear: both;
}
.blend-list--ul:nth-child(odd) {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.blend-list--ul:nth-child(even) {
	background-color: #eee;
}
.blend-list--ul li:first-child {
	width: 200px;
}
.blend-list--ul li:last-child {
	float: right;
	text-align: right;
	vertical-align: top;
}
.blend-list--ul li i {
	vertical-align: middle;
	color: #f1b906;
}
.blend-list--ul li .drop-count {
	vertical-align: bottom;
}
.blend-list--ul .form-group {
	margin-bottom: 0;
}
.blend-list--ul select.form-control {
	font-size: 24px;
	padding: 0;
	border: 0 none;
	box-shadow: none;
	height: 28px;
}
@media screen and (max-width: 767px) {
	.content--single-page {
		padding-top: 30px;
	}
	.blend-list--ul {
		text-align: center;
	}
	.blend-list--ul li:first-child {
		width: 100%;
		display: block;
	}
	.blend-list--ul li:last-child {
		margin-top: 5px;
		float: unset;
	}
	.blend-ingredients-table {
		margin-bottom: 20px;
	}
	.single-page h1 {
		font-size: 26px;
	}
	.single-page h4 {
		line-height: 1.2;
	}
	.single-page h3, .blend-list--ul select.form-control {
		font-size: 20px;
	}
}